* {
  margin: 0;
  padding: 0;
}

.fl {
  float: left;
}
p{
  font-size: 16px;

}
html,
body {
  // background: #ffffff;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

.nav_list {
    width: 100%;
  height: 55px;
  line-height: 55px;
  background: #f7f7f7;
  position: fixed;
  top: 0;
  .van-nav-bar__left {
    left: 15px;

    .van-icon,
    .van-nav-bar__text {
      color: #000;
      font-weight: bold;
      font-size: 24px;
    }

    .van-nav-bar__text {
      display: inline-block;
      width: 210px;
      text-align: left;
      margin-left: 16px;
      padding: 0;
      overflow: hidden;
      /*超出部分隐藏*/
      text-overflow: ellipsis;
      /* 超出部分显示省略号 */
      white-space: nowrap;
      /*规定段落中的文本不进行换行 */
    }
  }

  .van-nav-bar__right {
    right: 15px;
    .van-icon {
      color: #000;
      font-size: 24px;
    }
  }
}
